@model Movie

@{
    ViewData["Title"] = "Delete a movie";
}

<div class="row text" style="margin-top:3%">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation for @Model.Name </h1>
        </p>
        <div class="row" style="margin-top:5%">
            <div class="col-md-8 offset-2">

                <div class="form-group">
                    <img class="rounded-circle" src="@Model.ImageURL" alt="@Model.Name" style="max-width:150px" />
                </div>               
                <br />
                <div class="form-group">
                    @Html.DisplayFor(modelItem=>Model.Description)
                </div>
                <br />
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Control">Show All</a>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ImageURL").val();
        })
    </script>
}